# Node.js
node_modules/
npm-debug.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Frontend and Backend build artifacts
Auth/build/
Blog/build/
Comment/build/
Profile/build/

